In [ ]:
{
  "nombre_completo": "Ana Gómez",
  "edad": 28,
  "ciudad": "Barranquilla"
}

In [ ]:
{
  "id": 101,
  "nombre_producto": "Audífonos Bluetooth",
  "precio": 159.99
}

In [ ]:
{
  "marca": "Toyota",
  "modelo": "Corolla",
  "año_fabricacion": 2020
}

In [ ]:
[
  {
    "id": 1,
    "nombre": "Carlos Pérez",
    "calificacion_final": 4.5
  },
  {
    "id": 2,
    "nombre": "Laura Martínez",
    "calificacion_final": 3.9
  },
  {
    "id": 3,
    "nombre": "José Ramírez",
    "calificacion_final": 4.8
  }
]

In [ ]:
{
  "nombre": "TechSoluciones S.A.S.",
  "año_fundacion": 2010,
  "direccion": {
    "calle": "Carrera 45 #23-56",
    "ciudad": "Medellín"
  }
}

In [ ]:
{
  "titulo": "Cien años de soledad",
  "numero_paginas": 417
}

In [ ]:
{
  "nombre": "Pedro",
  edad: 30
}

In [ ]:
{
  "nombre": "Pedro",
  "edad": 30
}

In [ ]:
[
  {
    "id": 1,
    "nombre": "Smartphone",
    "precio": 799.99
  },
  {
    "id": 2,
    "nombre": "Laptop",
    "precio": 1199.00
  },
  {
    "id": 3,
    "nombre": "Tablet",
    "precio": 499.50
  }
]

In [ ]:
{
  "temperatura": 30.5,
  "humedad": 85,
  "ciudad": "Cartagena"
}

In [ ]:
{
  "id": 1001,
  "nombre_usuario": "jlopez",
  "correo_electronico": "jlopez@example.com"
}